<a href="https://colab.research.google.com/github/habilmaulana/Mini-Project/blob/main/Habil%20Maulana%20Yusuf_Wrangler%20Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORT LIBRARY

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
#%matplotlib inline
import seaborn as sns

IMPORT FILE CSV

In [ ]:
df = pd.read_csv('ds_salaries.csv')

In [ ]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

# 1 Exploratory Data Analysis

## 1.1 Check Null Values

In [ ]:
# Cek apakah ada kolom yang valuenya kosong / null / na
df.isna().sum()

work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

## 1.2 Check Duplicate Data

In [ ]:
df.shape

(3755, 11)

In [ ]:
df[df.duplicated()]

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
115,2023,SE,FT,Data Scientist,150000,USD,150000,US,0,US,M
123,2023,SE,FT,Analytics Engineer,289800,USD,289800,US,0,US,M
153,2023,MI,FT,Data Engineer,100000,USD,100000,US,100,US,M
154,2023,MI,FT,Data Engineer,70000,USD,70000,US,100,US,M
160,2023,SE,FT,Data Engineer,115000,USD,115000,US,0,US,M
...,...,...,...,...,...,...,...,...,...,...,...
3439,2022,MI,FT,Data Scientist,78000,USD,78000,US,100,US,M
3440,2022,SE,FT,Data Engineer,135000,USD,135000,US,100,US,M
3441,2022,SE,FT,Data Engineer,115000,USD,115000,US,100,US,M
3586,2021,MI,FT,Data Engineer,200000,USD,200000,US,100,US,L
3709,2021,MI,FT,Data Scientist,76760,EUR,90734,DE,50,DE,L

In [ ]:
df[df.duplicated()].shape

(1171, 11)

### Copy Data

In [ ]:
df_c = df.copy()

In [ ]:
df_c.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

In [ ]:
df_c.shape

(3755, 11)

### Delete Duplicate Data

In [ ]:
df_c = df_c.drop_duplicates()

In [ ]:
df_c.shape

(2584, 11)

In [ ]:
df.shape

(3755, 11)

## 1.3 Check Unique Values in Each Column

### Check Data Type

In [ ]:
df_c.dtypes

work_year              int64
experience_level      object
employment_type       object
job_title             object
salary                 int64
salary_currency       object
salary_in_usd          int64
employee_residence    object
remote_ratio           int64
company_location      object
company_size          object
dtype: object

### Check Data stats

In [ ]:
df_c.describe()

         work_year        salary  salary_in_usd  remote_ratio
count  2584.000000  2.584000e+03    2584.000000   2584.000000
mean   2022.301084  2.103653e+05  133409.280186     50.483746
std       0.749179  8.080375e+05   67136.837329     48.163707
min    2020.000000  6.000000e+03    5132.000000      0.000000
25%    2022.000000  9.000000e+04   84975.000000      0.000000
50%    2022.000000  1.346300e+05  130000.000000     50.000000
75%    2023.000000  1.825625e+05  175000.000000    100.000000
max    2023.000000  3.040000e+07  450000.000000    100.000000

### Check Columns

In [ ]:
df_c.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

### Unique Values Check

In [ ]:
for column in df_c.columns:
  if df_c[column].dtypes == 'object': # Hanya mengambil kolom yang kategorinya objek / kategorikal
    num_distinct = df_c[column].nunique() # Ada berapa unique values (Sum of unique values)
    distinct_val = df_c[column].unique() # Unique valuenya apa saja?

    print(f"{column} : {num_distinct} --> {distinct_val}\n")

experience_level : 4 --> ['SE' 'MI' 'EN' 'EX']

employment_type : 4 --> ['FT' 'CT' 'FL' 'PT']

job_title : 93 --> ['Principal Data Scientist' 'ML Engineer' 'Data Scientist'
 'Applied Scientist' 'Data Analyst' 'Data Modeler' 'Research Engineer'
 'Analytics Engineer' 'Business Intelligence Engineer'
 'Machine Learning Engineer' 'Data Strategist' 'Data Engineer'
 'Computer Vision Engineer' 'Data Quality Analyst'
 'Compliance Data Analyst' 'Data Architect'
 'Applied Machine Learning Engineer' 'AI Developer' 'Research Scientist'
 'Data Analytics Manager' 'Business Data Analyst' 'Applied Data Scientist'
 'Staff Data Analyst' 'ETL Engineer' 'Data DevOps Engineer' 'Head of Data'
 'Data Science Manager' 'Data Manager' 'Machine Learning Researcher'
 'Big Data Engineer' 'Data Specialist' 'Lead Data Analyst'
 'BI Data Engineer' 'Director of Data Science'
 'Machine Learning Scientist' 'MLOps Engineer' 'AI Scientist'
 'Autonomous Vehicle Technician' 'Applied Machine Learning Scientist'
 'Lead Data Scientist' 'Cloud Database Engineer' 'Financial Data Analyst'
 'Data Infrastructure Engineer' 'Software Data Engineer' 'AI Programmer'
 'Data Operations Engineer' 'BI Developer' 'Data Science Lead'
 'Deep Learning Researcher' 'BI Analyst' 'Data Science Consultant'
 'Data Analytics Specialist' 'Machine Learning Infrastructure Engineer'
 'BI Data Analyst' 'Head of Data Science' 'Insight Analyst'
 'Deep Learning Engineer' 'Machine Learning Software Engineer'
 'Big Data Architect' 'Product Data Analyst'
 'Computer Vision Software Engineer' 'Azure Data Engineer'
 'Marketing Data Engineer' 'Data Analytics Lead' 'Data Lead'
 'Data Science Engineer' 'Machine Learning Research Engineer'
 'NLP Engineer' 'Manager Data Management' 'Machine Learning Developer'
 '3D Computer Vision Researcher' 'Principal Machine Learning Engineer'
 'Data Analytics Engineer' 'Data Analytics Consultant'
 'Data Management Specialist' 'Data Science Tech Lead'
 'Data Scientist Lead' 'Cloud Data Engineer' 'Data Operations Analyst'
 'Marketing Data Analyst' 'Power BI Developer' 'Product Data Scientist'
 'Principal Data Architect' 'Machine Learning Manager'
 'Lead Machine Learning Engineer' 'ETL Developer' 'Cloud Data Architect'
 'Lead Data Engineer' 'Head of Machine Learning' 'Principal Data Analyst'
 'Principal Data Engineer' 'Staff Data Scientist' 'Finance Data Analyst']

salary_currency : 20 --> ['EUR' 'USD' 'INR' 'HKD' 'CHF' 'GBP' 'AUD' 'SGD' 'CAD' 'ILS' 'BRL' 'THB'
 'PLN' 'HUF' 'CZK' 'DKK' 'JPY' 'MXN' 'TRY' 'CLP']

employee_residence : 78 --> ['ES' 'US' 'CA' 'DE' 'GB' 'NG' 'IN' 'HK' 'PT' 'NL' 'CH' 'CF' 'FR' 'AU'
 'FI' 'UA' 'IE' 'IL' 'GH' 'AT' 'CO' 'SG' 'SE' 'SI' 'MX' 'UZ' 'BR' 'TH'
 'HR' 'PL' 'KW' 'VN' 'CY' 'AR' 'AM' 'BA' 'KE' 'GR' 'MK' 'LV' 'RO' 'PK'
 'IT' 'MA' 'LT' 'BE' 'AS' 'IR' 'HU' 'SK' 'CN' 'CZ' 'CR' 'TR' 'CL' 'PR'
 'DK' 'BO' 'PH' 'DO' 'EG' 'ID' 'AE' 'MY' 'JP' 'EE' 'HN' 'TN' 'RU' 'DZ'
 'IQ' 'BG' 'JE' 'RS' 'NZ' 'MD' 'LU' 'MT']

company_location : 72 --> ['ES' 'US' 'CA' 'DE' 'GB' 'NG' 'IN' 'HK' 'NL' 'CH' 'CF' 'FR' 'FI' 'UA'
 'IE' 'IL' 'GH' 'CO' 'SG' 'AU' 'SE' 'SI' 'MX' 'BR' 'PT' 'RU' 'TH' 'HR'
 'VN' 'EE' 'AM' 'BA' 'KE' 'GR' 'MK' 'LV' 'RO' 'PK' 'IT' 'MA' 'PL' 'AL'
 'AR' 'LT' 'AS' 'CR' 'IR' 'BS' 'HU' 'AT' 'SK' 'CZ' 'TR' 'PR' 'DK' 'BO'
 'PH' 'BE' 'ID' 'EG' 'AE' 'LU' 'MY' 'HN' 'JP' 'DZ' 'IQ' 'CN' 'NZ' 'CL'
 'MD' 'MT']

company_size : 3 --> ['L' 'S' 'M']

## 1.4 Rename Value for Better Understanding

In [ ]:
df_c['experience_level'] = df_c['experience_level'].replace({
    'SE': 'Senior',
    'MI': 'Mid/Intermediate Level',
    'EN': 'Entry Level',
    'EX': 'Executive Level'
})

df_c['employment_type'] = df_c['employment_type'].replace({
    'FT': 'Full-Time',
    'PT': 'Part-Time',
    'FL': 'Freelance',
    'CT': 'Contractor'
})

df_c['remote_ratio'] = df_c['remote_ratio'].replace({
    0: 'On-site',
    50: 'Hybrid',
    100: 'Full-Remote'
})

In [ ]:
df_c

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,Senior,Full-Time,Principal Data Scientist,80000,EUR,85847,ES,Full-Remote,ES,L
1,2023,Mid/Intermediate Level,Contractor,ML Engineer,30000,USD,30000,US,Full-Remote,US,S
2,2023,Mid/Intermediate Level,Contractor,ML Engineer,25500,USD,25500,US,Full-Remote,US,S
3,2023,Senior,Full-Time,Data Scientist,175000,USD,175000,CA,Full-Remote,CA,M
4,2023,Senior,Full-Time,Data Scientist,120000,USD,120000,CA,Full-Remote,CA,M
...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,Senior,Full-Time,Data Scientist,412000,USD,412000,US,Full-Remote,US,L
3751,2021,Mid/Intermediate Level,Full-Time,Principal Data Scientist,151000,USD,151000,US,Full-Remote,US,L
3752,2020,Entry Level,Full-Time,Data Scientist,105000,USD,105000,US,Full-Remote,US,S
3753,2020,Entry Level,Contractor,Business Data Analyst,100000,USD,100000,US,Full-Remote,US,L
3754,2021,Senior,Full-Time,Data Science Manager,7000000,INR,94665,IN,Hybrid,IN,L

## 1.5 Group the Job title

### Check Job Title

In [ ]:
print(df_c['job_title'].nunique())
print(df_c['job_title'].unique())

93
['Principal Data Scientist' 'ML Engineer' 'Data Scientist'
 'Applied Scientist' 'Data Analyst' 'Data Modeler' 'Research Engineer'
 'Analytics Engineer' 'Business Intelligence Engineer'
 'Machine Learning Engineer' 'Data Strategist' 'Data Engineer'
 'Computer Vision Engineer' 'Data Quality Analyst'
 'Compliance Data Analyst' 'Data Architect'
 'Applied Machine Learning Engineer' 'AI Developer' 'Research Scientist'
 'Data Analytics Manager' 'Business Data Analyst' 'Applied Data Scientist'
 'Staff Data Analyst' 'ETL Engineer' 'Data DevOps Engineer' 'Head of Data'
 'Data Science Manager' 'Data Manager' 'Machine Learning Researcher'
 'Big Data Engineer' 'Data Specialist' 'Lead Data Analyst'
 'BI Data Engineer' 'Director of Data Science'
 'Machine Learning Scientist' 'MLOps Engineer' 'AI Scientist'
 'Autonomous Vehicle Technician' 'Applied Machine Learning Scientist'
 'Lead Data Scientist' 'Cloud Database Engineer' 'Financial Data Analyst'
 'Data Infrastructure Engineer' 'Software Data Engineer' 'AI Programmer'
 'Data Operations Engineer' 'BI Developer' 'Data Science Lead'
 'Deep Learning Researcher' 'BI Analyst' 'Data Science Consultant'
 'Data Analytics Specialist' 'Machine Learning Infrastructure Engineer'
 'BI Data Analyst' 'Head of Data Science' 'Insight Analyst'
 'Deep Learning Engineer' 'Machine Learning Software Engineer'
 'Big Data Architect' 'Product Data Analyst'
 'Computer Vision Software Engineer' 'Azure Data Engineer'
 'Marketing Data Engineer' 'Data Analytics Lead' 'Data Lead'
 'Data Science Engineer' 'Machine Learning Research Engineer'
 'NLP Engineer' 'Manager Data Management' 'Machine Learning Developer'
 '3D Computer Vision Researcher' 'Principal Machine Learning Engineer'
 'Data Analytics Engineer' 'Data Analytics Consultant'
 'Data Management Specialist' 'Data Science Tech Lead'
 'Data Scientist Lead' 'Cloud Data Engineer' 'Data Operations Analyst'
 'Marketing Data Analyst' 'Power BI Developer' 'Product Data Scientist'
 'Principal Data Architect' 'Machine Learning Manager'
 'Lead Machine Learning Engineer' 'ETL Developer' 'Cloud Data Architect'
 'Lead Data Engineer' 'Head of Machine Learning' 'Principal Data Analyst'
 'Principal Data Engineer' 'Staff Data Scientist' 'Finance Data Analyst']

### Grouping Function

In [ ]:
def assign_broader_category(job_title):
  data_engineering = ["Data Engineer", "Data Analyst", "Analytics Engineer", "BI Data Analyst", "Business Data Analyst", "BI Developer", "BI Analyst", "Business Intelligence Engineer", "BI Data Engineer", "Power BI Developer", "Data Modeler", "Data Quality Analyst", "Staff Data Analyst", "ETL Engineer", "Data DevOps Engineer", "Big Data Engineer", "Data Specialist", "Autonomous Vehicle Technician", "Cloud Database Engineer", "Data Infrastructure Engineer", "Data Operations Engineer", "Deep Learning Engineer", "Azure Data Engineer", "Marketing Data Engineer", "Data Science Engineer", "Data Analytics Engineer", "Cloud Data Engineer", "Data Operations Analyst", "ETL Developer", "Lead Data Engineer", "Principal Data Engineer"]
  data_scientist = ["Data Scientist", "Applied Scientist", "Research Scientist", "3D Computer Vision Researcher", "Deep Learning Researcher", "Computer Vision Engineer", "Principal Data Scientist", "Research Scientist", "Applied Data Scientist", "Lead Data Scientist", "Data Science Consultant", "Data Analytics Specialist", "Insight Analyst", "Product Data Analyst", "Data Science Tech Lead", "Marketing Data Analyst", "Product Data Scientist", "Principal Data Analyst", "Staff Data Scientist", "Finance Data Analyst"]
  machine_learning = ["Machine Learning Engineer", "ML Engineer", "Lead Machine Learning Engineer", "Principal Machine Learning Engineer", "Research Engineer", "Applied Machine Learning Engineer", "AI Developer", "Machine Learning Researcher", "Machine Learning Scientist", "MLOps Engineer", "AI Scientist", "Applied Machine Learning Scientist", "AI Programmer", "Machine Learning Infrastructure Engineer", "Machine Learning Software Engineer", "Computer Vision Software Engineer", "Machine Learning Research Engineer", "NLP Engineer", "Machine Learning Developer"]
  data_architecture = ["Data Architect", "Big Data Architect", "Cloud Data Architect", "Principal Data Architect", "Data Management Specialist"]
  management = ["Data Science Manager", "Director of Data Science", "Head of Data Science", "Data Scientist Lead", "Head of Machine Learning", "Manager Data Management", "Data Analytics Manager", "Data Strategist", "Compliance Data Analyst", "Head of Data", "Data Manager", "Lead Data Analyst", "Financial Data Analyst", "Data Science Lead", "Data Analytics Lead", "Data Lead", "Data Analytics Consultant", "Machine Learning Manager"]

  if job_title in data_engineering:
    return "Data Engineering"
  elif job_title in data_scientist:
    return "Data Scientist"
  elif job_title in machine_learning:
    return "Machine Learning"
  elif job_title in data_architecture:
    return "Data Architecture"
  elif job_title in management:
    return "Management"
  else:
    return "Other"

In [ ]:
df_c['job_category'] = df_c['job_title'].apply(assign_broader_category)

In [ ]:
print(df_c['job_category'].nunique())
print(df_c['job_category'].unique())

6
['Data Scientist' 'Machine Learning' 'Data Engineering' 'Management'
 'Data Architecture' 'Other']

In [ ]:
df_c

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,job_category
0,2023,Senior,Full-Time,Principal Data Scientist,80000,EUR,85847,ES,Full-Remote,ES,L,Data Scientist
1,2023,Mid/Intermediate Level,Contractor,ML Engineer,30000,USD,30000,US,Full-Remote,US,S,Machine Learning
2,2023,Mid/Intermediate Level,Contractor,ML Engineer,25500,USD,25500,US,Full-Remote,US,S,Machine Learning
3,2023,Senior,Full-Time,Data Scientist,175000,USD,175000,CA,Full-Remote,CA,M,Data Scientist
4,2023,Senior,Full-Time,Data Scientist,120000,USD,120000,CA,Full-Remote,CA,M,Data Scientist
...,...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,Senior,Full-Time,Data Scientist,412000,USD,412000,US,Full-Remote,US,L,Data Scientist
3751,2021,Mid/Intermediate Level,Full-Time,Principal Data Scientist,151000,USD,151000,US,Full-Remote,US,L,Data Scientist
3752,2020,Entry Level,Full-Time,Data Scientist,105000,USD,105000,US,Full-Remote,US,S,Data Scientist
3753,2020,Entry Level,Contractor,Business Data Analyst,100000,USD,100000,US,Full-Remote,US,L,Data Engineering
3754,2021,Senior,Full-Time,Data Science Manager,7000000,INR,94665,IN,Hybrid,IN,L,Management

## 1.6 Adjust Salary to Present Values

### Inflation Rate

In [ ]:
# Inflation rates
us_inflation_rates = {2019: 0.0181,
                      2020: 0.0123,
                      2021: 0.0470,
                      2022: 0.065}
global_inflation_rates = {2019: 0.0219,
                          2020: 0.0192,
                          2021: 0.0350,
                          2022: 0.088}

def adjust_salary(x):
  year = x['work_year']
  original_salary = x['salary_in_usd']
  currency = x['salary_currency']

  # Kondisi pertama (Kalau 2023, maka tidak kena inflasi)
  if year == 2023:
    return original_salary
  else:
    adjust_salary = original_salary
    for y in range(year, 2023): # Loop sampai tahun 2022
      # kondisi kedua (Kalau currency adalah USD gunakan us inflation rates, selain USD gunakan global)
      if currency == 'USD':
        inflation_rate = us_inflation_rates[y]
      else:
        inflation_rate = global_inflation_rates[y]
      adjust_salary = adjust_salary * (1 + inflation_rate)

    return adjust_salary

In [ ]:
df_c['adjusted_salary'] = df_c.apply(adjust_salary, axis=1)

In [ ]:
df_c

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,job_category,adjusted_salary
0,2023,Senior,Full-Time,Principal Data Scientist,80000,EUR,85847,ES,Full-Remote,ES,L,Data Scientist,85847.000000
1,2023,Mid/Intermediate Level,Contractor,ML Engineer,30000,USD,30000,US,Full-Remote,US,S,Machine Learning,30000.000000
2,2023,Mid/Intermediate Level,Contractor,ML Engineer,25500,USD,25500,US,Full-Remote,US,S,Machine Learning,25500.000000
3,2023,Senior,Full-Time,Data Scientist,175000,USD,175000,CA,Full-Remote,CA,M,Data Scientist,175000.000000
4,2023,Senior,Full-Time,Data Scientist,120000,USD,120000,CA,Full-Remote,CA,M,Data Scientist,120000.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,Senior,Full-Time,Data Scientist,412000,USD,412000,US,Full-Remote,US,L,Data Scientist,465053.312718
3751,2021,Mid/Intermediate Level,Full-Time,Principal Data Scientist,151000,USD,151000,US,Full-Remote,US,L,Data Scientist,168373.305000
3752,2020,Entry Level,Full-Time,Data Scientist,105000,USD,105000,US,Full-Remote,US,S,Data Scientist,118520.868532
3753,2020,Entry Level,Contractor,Business Data Analyst,100000,USD,100000,US,Full-Remote,US,L,Data Engineering,112877.017650
3754,2021,Senior,Full-Time,Data Science Manager,7000000,INR,94665,IN,Hybrid,IN,L,Management,106600.363200

# SOAL No.1
Show the median adjusted data scientist salary, for each experience level

## JAWABAN No.1

In [ ]:
median_salary = df_c[df_c['job_category'] == 'Data Scientist']['adjusted_salary'].median()
print(f"Median Data Scientist Salary: {median_salary}")

Median Data Scientist Salary: 138450.0

# SOAL No. 2
Show the number of records for each company_location, sorted descending

## JAWABAN No.2

In [ ]:
company_location_counts = df_c['company_location'].value_counts().sort_values(ascending=False)
print(company_location_counts)

company_location
US    1929
GB     155
CA      83
IN      57
DE      55
      ...
NZ       1
CL       1
MD       1
EG       1
MT       1
Name: count, Length: 72, dtype: int64

# SOAL No.3
From this data, show the median adjusted salary of employee who works for company located in Indonesia, do you think that value represents the salary in Indonesia? why? why not?

## JAWABAN No.3

In [ ]:
median_salary_indonesia = df_c[df_c['company_location'] == 'ID']['adjusted_salary'].median()
print(f"Median Salary in Indonesia: {median_salary_indonesia}")

Median Salary in Indonesia: 37045.804000000004

**Kesimpulan** <br>
Median dari salary karyawan per tahun di Indonesia adalah $37.045,804000000004. Jika dikonversikan ke IDR pada tahun 2022 sekitar Rp550.086.475,35

Nilai konversi yang dihitung merupakan median salary di Indonesia tahun 2022. Namun, ini **tidak merepresentasikan** rata-rata gaji secara keseluruhan di Indonesia pada tahun 2022.

Berdasarkan data dari Badan Pusat Statistik (BPS) Indonesia, rata-rata gaji di Indonesia per Agustus 2022 adalah sekitar Rp3.070.756 per bulan, yang diambil dari 17 sektor pekerjaan (rata-rata per tahun: Rp3.070.756 x 12 = Rp36.849.072).

Angka ini lebih mencerminkan rata-rata gaji seluruh sektor pekerjaan di Indonesia, termasuk sektor-sektor yang memiliki gaji lebih rendah, seperti tenaga kerja di sektor informal atau pekerjaan dengan tingkat keterampilan yang lebih rendah.

Sementara itu, nilai median salary yang dihitung sebelumnya umumnya berada di kategori pekerjaan profesional atau manajerial tingkat tinggi, atau di industri dengan permintaan keterampilan teknis yang tinggi (sering kali di bidang teknologi, hukum, atau bisnis). Jadi, ini menunjukkan perbedaan signifikan antara gaji pada posisi profesional dan rata-rata gaji secara keseluruhan di Indonesia.

Source: https://www.bps.go.id/id/statistics-table/2/MTUyMSMy/rata-rata-upah-gaji.html